.xuanhuan {   // 玄幻
    background: url("https://qidian.qpic.cn/qidian_common/349573/7f689b6db8ad99e6093bae7db9a7d130/0");
    .middle-container {
        .logo {
            a {
                background-position: 0 -385px;
            }
        }
    }
}
.qihuan {   // 奇幻
    // 背景
    background: url("https://qidian.qpic.cn/qidian_common/349573/8a7f2c5f5aed27d6c922ceb277158f7f/0");
    // logo
    .middle-container {
        .logo {
            a {
                background-position: 0 -165px;
            }
        }
    }
}
.wuxia {    // 武侠
    background: url("https://qidian.qpic.cn/qidian_common/349573/757dfaf64d7bc8ce3c686384644d8a56/0");
    .middle-container {
        .logo {
            a {
                background-position: 0 -385px;
            }
        }
    }
}
.xianxia {    // 仙侠
    background: url("https://qidian.qpic.cn/qidian_common/349573/9c6d15529ff22ca50f88f9baa180646b/0");
    .middle-container {
        .logo {
            a {
                background-position: 0 -330px;
            }
        }
    }
}
.dushi {    // 都市
    background: url("https://qidian.qpic.cn/qidian_common/349573/38bb2e374423eaa00f2fc8a54befaa1a/0");
    .middle-container {
        .logo {
            a {
                background-position: 0 -55px;
            }
        }
    }
}
.xianshi {    // 现实
    background: url("https://qidian.qpic.cn/qidian_common/349573/a3bf6676380f9d6112f5df332b14a9d3/0");
    .middle-container {
        .logo {
            a {
                background-position: 0 -495px;
            }
        }
    }
}

.junshi {    // 军事
    background: url("https://qidian.qpic.cn/qidian_common/349573/9112ca88d5deb303418b82781be100bd/0");
    .middle-container {
        .logo {
            a {
                background-position: 0 0;
            }
        }
    }
}
.lishi {    // 历史
    background: url("https://qidian.qpic.cn/qidian_common/349573/78fce8716a866511419f688546de7f67/0");
    .middle-container {
        .logo {
            a {
                background-position: 0 -110px;
            }
        }
    }
}
.youxi {    // 游戏
    background: url("https://qidian.qpic.cn/qidian_common/349573/f4832bd47deacd7ec56b46c3a83de6b1/0");
    .middle-container {
        .logo {
            a {
                background-position: 0 -440px;
            }
        }
    }
}

.tiyu {    // 体育
    background: url("https://qidian.qpic.cn/qidian_common/349573/5ac4828111aa57e76f84ba4399dbfa12/0");
    .middle-container {
        .logo {
            a {
                background-position: 0 -220px;
            }
        }
    }
}
.kehuan {    // 科幻
    background: url("https://qidian.qpic.cn/qidian_common/349573/f042a4801b5cc0ab054eca362821f954/0");
    .middle-container {
        .logo {
            a {
                background-position: 0 -605px;
            }
        }
    }
}
.xuanyi {    // 悬疑
    background: url("https://qidian.qpic.cn/qidian_common/349573/96684584bb81a14d00e2b711cbbb63c4/0");
    .middle-container {
        .logo {
            a {
                background-position: 0 -550px;
            }
        }
    }
}